* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    justify-content: space-between;
    min-height: 100vh;
}

.header-block {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 207px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-block p, a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 0;
}

h1 {
    font-size: 48px;
    color: #F9FAF8; 
    font-weight: 900;
}

.hero-text {
    background-color: #1F2937;
    height: 250px;
    width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-button {
    width: 130px;
    height: 35px;
    color: white;
    background-color: #2a6fdf;
    font-weight: bold;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

.sign-button:hover {
    background-color: #3882F6;
}

.hero-image {
    flex: none;
    height: 250px;
    width: 555px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

h2 {
    font-size: 36px; 
    color: #1F2937;
    font-weight: 900;
}

.information-container {
    padding: 40px 207px 90px 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

ul.info-image {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 47px;
}

.info-image li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.info-image .img {
    border: 4px solid #2a6fdf;
    border-radius: 8px;
    height: 165px;
    width: 160px;
}

.info-image p {
    width: 160px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 350px;
}

quote{
    font-size: 36px ;
    color: #4c5157;
    font-weight: 300;
}

.quote-container p{
    color: #1F2937;
    font-size: 23px ;
    font-weight: 1000;
    text-align: end;
}

.sign-container {
    background-color: #2a6fdf;
    margin: 70px 207px;
    padding: 50px 110px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.sign-container p {
    font-size: 20px;
}

.sign-text .text {
    font-size: 28px;
    font-weight: 700;
}

.sign-container .sign-button {
    font-size: 20px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
}

.footer-block {
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color: white;
}